# Object files
*.o
*.d
*.crf
*.lst
*.__i
*._i
*._ia
*.tra
*.htm
*.lnp
*~

# Libraries
#*.lib
#*.a

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.elf
*.hex
*.axf
*.bin
*.lst

# Visual Stdio files
*.ipch
*.user
*.ncb
*.sbr
*.log
*.sdf
*.db
*.tlog
*.obj
*.pdb
*.idb
*.cache